<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

</head>

<body>
    <div id="toDoList">
        <div id="outputContainer">
            <h2 id="listHeading">To Do List </h2>
            <div id="dateContainer">
                <!-- current date showing in ToDoList -->
                <p id="date">
                    <%= new Date().getDate();%>
                </p>&nbsp;
                <%let monthNames=["Jan", "Feb" , "March" , "April" , "May" , "June" , "July" , "Aug" , "Sep" , "Oct"
                    , "Nov" , "Dec" ];%>
                    <p id="month">
                        <%= monthNames[new Date().getMonth()];%>
                    </p>&nbsp;
                    <p id="year">
                        <%= new Date().getYear();%>
                    </p>


            </div>
            <div id="formContainer">
                <!-- adding content through form -->
                <form action="/create-task" id="" method="post">
                    <span id="addTask">
                        <input type="text" id="addToDo" name="addToDo" placeholder="Type To-Do List">
                    </span>

                    <span id="taskDetails">
                        <select name="taskCategory" id="taskCategory">
                            <option value="" disabled selected>Task Category</option>
                            <option value="personal">Personal</option>
                            <option value="work">Work</option>
                            <option value="school">School</option>
                            <option value="reminder">Reminder</option>
                        </select>
                        <input placeholder="Due Date" class="textbox-n" name="dueDate" type="text"
                            onfocus="(this.type='date')" id="dueDate">
                    </span>
                    <div class="dbAction">
                        <button type="submit" id="submitButton">ADD TASK<i class="fa-solid fa-plus" id="plusFont"></i></button>
                    </div>
                </form>
                
                



            </div>
        </div>
        <div id="inputContainer">
           <!-- Showing the added task which are retrived from Mongodb  -->
            <div id="list">
                <br>
                <form action="/del-task" method="GET">
                <%for(let i of todo_data){%>
                    <div class="task"">
                        <div class=" taskAnddate"><label for="taskName" class="taskLabel"><input type="checkbox"
                                class="taskCheck" name="<%= i._id%>">
                            <%= i.task%>
                        </label>
                        <div class="dateDiv"><i class="fa-solid fa-calendar"></i> &nbsp;<p class="dueDateDisplay">
                                <%= i.dueDate%>
                            </p>
                        </div>
                    </div>
                    <h3 class="categoryHeading">
                        <%= i.category%>
                    </h3>
                    
            </div>
            
            
            
            <%}%>
            <!-- deleting the task from DB -->
            <div class="dbAction"><button type="submit" id="delButton">Delete Task<i class="fa-solid fa-minus"></i></button></div>
            
        </form>

        </div>
        
        
        
    </div>
    </div>






    <script src="https://kit.fontawesome.com/d7f9ab3a29.js" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>

</body>

</html>